:root {
  /* COLORS */
  --pink: #ED5C90;
  --pink2: #B7537D;
  --grey: #EBEBEB;
  --grey2: #AEAEAE;
  --grey3: #F4F4F4;
  --black: #1E1E1E;
  --black2: #252227;
  --black3: #100F11;
  --black4: #19171C;
  /* COLORS */
}